@* @model List<StudentRegisteration.ViewModels.StudentViewModel> *@
@* @model StudentRegisteration.Models.StudentDetails *@
<h2>Student</h2>
<a asp-action="Logout" asp-controller="User">Logout</a>

<a asp-action="Create" asp-controller="Student" class="btn btn-primary" >Create</a>
<a asp-action="Details" asp-controller="Dashboard" class="btn btn-primary" >Dashboard</a>

