@model StudentRegisteration.Models.Address

<h1>Edit Address</h1>

<form method="post" asp-action="Edit">

    <input type="hidden" asp-for="Id" />  

    <div class="form-group">
        <label for="State">State:</label>
        <input type="text" class="form-control" id="State" name="State" required asp-for="State">
        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="City">City:</label>
        <input type="text" class="form-control" id="City" name="City" required asp-for="City">
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Town">Town:</label>
        <input type="text" class="form-control" id="Town" name="Town" required asp-for="Town">
        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>

@section Scripts {
    <script src="~/lib/jquery-validate/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}